[flake8]
min_python_version = 3.8.0
max-line-length = 88
ban-relative-imports = True
format-greedy = 1
inline-quotes = double
extend-ignore =
    # E203: Whitespace before ':' (pycqa/pycodestyle#373)
    E203,
    # E501: Line too long
    E501,
    # E800 Found commented out code
    E800
