dist/
src/config.yaml
**/__pycache__/
outputs/
**/.DS_Store
.coverage
coverage.xml
docs/assets/schemas/
.cache/
src/airflow/logs/*
!src/airflow/logs/.gitkeep
site/
.env
.coverage*
wandb/
hail*.log
.python-version
.idea
