default_language_version:
  python: python3.11
ci:
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autofix_commit_msg: "chore: pre-commit auto fixes [...]"
  skip: [uv-lock]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.11
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
        files: ^((gentropy|utils|tests)/.+)?[^/]+\.py$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: "CHANGELOG.md"
      - id: debug-statements
      - id: check-case-conflict
      - id: check-json
        exclude: (.vscode|.devcontainer)
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=main
      - id: check-toml
      - id: check-yaml
      - id: check-ast
      - id: debug-statements
      - id: check-docstring-first
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-mock-methods
      - id: python-use-type-annotations
      - id: python-check-blanket-noqa

  - repo: https://github.com/hadialqattan/pycln
    rev: v2.5.0
    hooks:
      - id: pycln
        args: [--all]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        exclude: "CHANGELOG.md"

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.22.0
    hooks:
      - id: commitlint
        additional_dependencies: ["@commitlint/config-conventional@18.6.3"]
        stages: [commit-msg]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.17.1"
    hooks:
      - id: mypy
        args:
          - "--ignore-missing-imports"
          - "--check-untyped-defs"
          - "--disallow-any-generics"
          - "--disallow-incomplete-defs"
          - "--no-implicit-optional"
          - "--no-implicit-reexport"
          - "--strict-equality"
          - "--warn-redundant-casts"
          - "--warn-unused-ignores"
          - "--disallow-untyped-defs"

  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: [--verbose]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        args: [--convention=google, --add-ignore=D107]

  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
      - id: beautysh

  - repo: https://github.com/jsh9/pydoclint
    rev: 0.6.11
    hooks:
      - id: pydoclint
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.14
    hooks:
      - id: uv-lock
        args: [--check]
