{# DataprocCreateClusterOperator(
    task_id=f"create_cluster_{{ step['id'] }}",
    project_id=project_id,
    cluster_config=cluster_generator_config,
    region="europe-west1",
    cluster_name=f"workflow-otg-cluster-{{ step['id'] }}".replace('_', '-'),
    trigger_rule=TriggerRule.ALL_SUCCESS,
) #}
